
<%- include ./partials/header -%>


<h1>Home</h1>
<p><%= homeStartingContent %></p>
<!-- <% console.log(posts) %>   -->

 <% posts.forEach(function(post){ %>
 <h1> <%= post.title.substring(0,100)  %></h1>
 <p> <%= post.content.substring(0,100)+  " ..." %>
     <a href="/posts/<%= post.title %>">Read Me.</a>
</p>
<% }); %>

<%- include ./partials/footer -%>